h1 {
    font-size: 28px;
    text-align:center;
    padding:8px;
    font-weight:bolder;
}
h2 {
    font-size: 24px;
    padding:2px;
    font-style:italic;
}
body {
    background: #f7f7f7;
    font-size:1.5em;
    font-family: "Helvetica", sans-serif;
}
